<div class="container-fluid">
  <h2 class="text-center fst-italic">
    Can you Gacha them all?
    </hr>
  </h2>
  <section id="gachamon-icons" class=" g-1 row fs-3">


  </section>

  <section id="active-gachamon" class="d-flex justify-content-center py-3">

  </section>

  <section class="row">
    <button class="btn btn-info col-6" onclick="app.GachamonsController.addQuarter()">add quarter 🪙 <span
        id="money">$0.00</span></button>
    <button class="btn btn-primary col-6" onclick="app.GachamonsController.buyRandomGachamon()"> GACHA GACHA
      GACHAMON!</button>
  </section>

  <h2>
    Your Collection
    </hr>
  </h2>
  <section id="my-gachamons" class="row">


  </section>


  <!-- STUB our active template, built here for practice -->
  <!-- <div class="card bg-primary shadow p-4 gachamon-card">
    <img class="img-fluid border rounded "
      src="https://em-content.zobj.net/source/microsoft-teams/363/orangutan_1f9a7.png" alt="">
    <div class="card-body">
      <h2 class="text-center">Oslo</h2>
      <hr />
    </div>
    <div class="card-footer d-flex justify-content-between">
      <div>common</div>
      <div>normal</div>
    </div>
  </div> -->
</div>