<section class="container-fluid">
  <div class="row">
    <!-- SECTION spell lsit -->
    <div id="spells-list" class="col-3">

    </div>

    <!-- SECTION active spell view -->
    <div id="active-spell" class="col-6">
      <!-- <div class="card p-2 sticky-top">
        <h2 class="text-center card-title text-danger">Knock 2
          <hr />
        </h2>
        <h5 class="card-subtitle text-center">no damage</h5>
        <div class="card-body">
          <div class=" fw-bold">
            <div>Verbal, Somatic, Material</div>
            <div>300ft | 1 action | forever </div>
            <div>ritual: true | concentration: no | a cool dm</div>
          </div>
          <hr />
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, hic facilis earum aut aliquam ipsam id
            ex ipsa labore, officiis vitae tempore exercitationem ea blanditiis reiciendis recusandae amet inventore!
            Consequuntur.</p>
        </div>
      </div> -->

    </div>

    <!-- SECTION our spell book -->

    <div class="col-3">
      <section class="text-center fw-bolder">
        <h3>Spell Book <span id="spell-count"></span></h3>
        <hr />
      </section>
      <section id="my-spell-book">

      </section>
      <!-- <div class="row align-items-center border-bottom border-primary pb-1 mb-2 selectable">
        <div class="col-1">
          <input type="checkbox">
        </div>
        <div class="col">Acid Arrow</div>
        <button class="btn btn-warning col-2" title="remove spell from book"><i
            class="mdi mdi-book-cancel"></i></button>
      </div>
    </div> -->

    </div>
</section>