<section id="active-apod" class="container">
  <!-- <div class="row justify-content-center text-light">
    <div class="col-md-7">
      <h1 class="text-end">2024-04-04</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus impedit totam, labore eveniet exercitationem,
        voluptas recusandae deleniti eius soluta eligendi iure repellendus neque ea aspernatur nostrum aliquam quasi
        doloribus? Repudiandae?</p>
    </div>
  </div> -->
</section>
<section>
  <!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
    aria-controls="offcanvasExample">
    Button with data-bs-target
  </button> -->

  <div class="offcanvas offcanvas-start bg-glass text-light" tabindex="-1" id="my-apods-offcanvas"
    aria-labelledby="my-apods-offcanvas-Label">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="my-apods-offcanvas-Label">My APODs</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div id="my-apods" class="offcanvas-body row">
      <!-- <div class="col-12">
        <div
          class="d-flex justify-content-between align-items-center border border-primary rounded mb-2 p-2 selectable">
          <h4>2024 04 04</h4><img class="apod-thumbnail" src="https://pbs.twimg.com/media/E-c1f4-WEAYnXDf.png" alt="">
        </div>
      </div> -->
    </div>
  </div>
</section>